.work {
	background: var(--second-bg-color);

	.work-content {
		display: grid;
		max-width: 1300px;
		grid-template-columns: repeat(auto-fit, minmax(320px, auto));
		grid-gap: 4rem 2rem;
		align-items: center;
		margin: 4.5rem auto 0 auto;

		@include below($breakpoint-mobile) {
			grid-template-columns: unset;
		}
	}

	.work-card {
		height: 100%;
		background-color: var(--bg-color);
		border-radius: 0.8rem;
		overflow: hidden;

		.work-image {
			position: relative;
			background-color: var(--second-bg-color);
			overflow: hidden;
			transition: 0.2s ease-in-out;
			i {
				position: absolute;
				z-index: 999;
				bottom: 1.5rem;
				right: 1rem;
				color: var(--text-color);
				opacity: 0.5;
				transition: opacity 0.3s ease-in-out;
			}
		}

		img {
			width: 100%;

			height: auto;
			object-fit: cover;

			margin-bottom: 1.25rem;
			transition: transform 0.3s ease-in-out;
			margin-left: auto;
			margin-right: auto;
			display: block;

			opacity: 0.85;
		}

		.work-info {
			padding: 0 1.5rem 1.5rem 1.5rem;
			position: relative;
			z-index: 10;

			&::before {
				content: "";
				z-index: -1;
				position: absolute;
				top: -4rem;
				left: -2rem;
				right: 0;
				background-color: var(--bg-color);
				transform: rotate(355deg);
				width: 220%;
				height: 5rem;
			}
		}

		h3 {
			color: var(--text-color);
			font-size: 1.2rem;
			font-weight: 600;
			margin-bottom: 0;
		}

		ul.links {
			color: var(--text-second-color);
			letter-spacing: 1px;
			font-size: 0.8rem;
			margin-bottom: 1rem;

			li {
				display: inline-block;
				margin-right: 0.75rem;
				list-style: none;
			}
			a {
				color: var(--text-second-color);
				transition: color 0.2s ease-in-out;

				&:hover {
					color: var(--text-color);
					text-decoration: none;
				}
			}
		}

		ul.tags {
			display: flex;
			flex-wrap: wrap;
			gap: 0.6rem 0.8rem;

			li {
				color: var(--text-second-color);
				pointer-events: none;
				letter-spacing: 1px;
				list-style: none;
				font-size: 0.8rem;
				background-color: var(--second-bg-color);
				border-radius: 1rem;
				padding: 0.2rem 1rem;
				box-shadow:
					rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
					rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
			}
		}

		a:hover {
			img {
				transform: scale(1.05);

				@include below($breakpoint-mobile) {
					transform: none;
				}
			}

			i {
				opacity: 1;
			}
		}
	}
}
